<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1><%= model.name.first %> <%= model.name.last %> </h1>
        <% if(!addButton){ %>
        <p><a href=""#profile/ <%= model.accountId %>"></a>View</p>
        <% } %> 
        <div class="actionarea">
            <% if(addButton){ %>
            <p><button class="addbutton">Add Contact</button></p>
            <% } %> 

            <% if(removeButton){ %>
            <p><button class="removebutton">Remove Contact</button></p>
            <% } %> 
        </div>
</body>
</html>