<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Registration</h1>
    <form action="">
        <fieldset>
            <legend>Your name:</legend>
                <label for="">First:
                    <input type="text" name="firstName">
                </label>
                <label for="">Last:
                    <input type="text" name="lastName">
                </label>
        </fieldset>
        <fieldset>
            <legend>Email Address</legend>
                <label for="">Email:
                    <input type="text" name="email">
                </label>
                <br>
                <label for="">Email(confirm):
                    <input type="text" name="cemail">
                </label>
        </fieldset>
        <fieldset>
            <legend>Password</legend>
            <label for="">Password:
                <input type="password" name="password">
            </label>
            <br>
            <label for="">Password(confirm):
                <input type="password" name="cpassword">
            </label>
            </fieldset>    
            <p>
                <input type="submit" value="Register now">
            </p>
    </form>
</body>
</html>