<%- include('partials/head') %>


    <%- include('partials/navBar') %>

        <div class="container">
            <h1>The Home Page <%= 4+5+1 %>
            </h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus saepe qui dolorem vitae praesentium
                ipsam
                quibusdam iusto a odit eius aspernatur dicta, aut debitis eos quod, eligendi nobis labore soluta.
            </p>

            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorem fugit facilis vitae quisquam nobis.
                Vero,
                id
                adipisci quam omnis asperiores assumenda molestiae eius ab, exercitationem doloribus explicabo nisi
                maxime
                illum!</p>
        </div>
        <%- include('partials/footer') %>