<%- include('partials/head') %>


    <%- include('partials/navBar') %>
        <div class="container">
            <h1>I'm sorry, we coudn't find <%= subreddit %> subreddit.
            </h1>
        </div>
        <%- include('partials/footer') %>